Creating the an ordinal rank column for each sumo wrestler. 
get_ordinal_rank function in sumo.py takes a dataframe and two columns
1. 'rikishi1_sortable_rank' that is a numeric sortable string from 'rikishi1_rank'
2. 'ordinal_rank', an integer column by sorting 'rikishi1_sortable rank' and assigning a integer value
3. Will have to be applied by year

In [ ]:
import pandas as pd
import numpy as np

from sumo import *

#Add the path to the folder that contains the data. Makes it easier for each of us to use the notebook
#path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/"
path = "data/"

df = pd.read_csv(path+str(1983)+'.csv')

for year in range(1984,2020):
    year = str(year)
    dfyear = pd.read_csv(path+year+'.csv')
    df = pd.concat([df, dfyear], axis=0, ignore_index=True)
    #returning a dataframe columns df['rikishi1_sortable_rank'] and df['ordinal_rank'] added
    df = get_ordinal_rank(df)
    #creates 'r1_prior_record' with record prior to the match
    df = prior_record(df)   


#six tournaments a year
bash = df['basho'].unique()
print(bash)

In [ ]:

df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,...,rikishi2_result,rikishi2_win,r1_sort_rank,r1_ord_rank,year,trny,r1_prior_record,r1_prior_wins,r1_prior_losses,prior_record
10,10,1983.01,1,1302,J9e,Takamisugi,1-0 (5-10),1,oshidashi,4318,...,0-1 (7-8),0,6091,57,1983,01,1-0,0,0,0-0
80,80,1983.01,2,1302,J9e,Takamisugi,1-1 (5-10),0,yorikiri,1359,...,1-1 (10-5),1,6091,57,1983,01,1-1,1,0,1-0
148,148,1983.01,3,1302,J9e,Takamisugi,1-2 (5-10),0,yorikiri,1350,...,2-1 (11-4),1,6091,57,1983,01,1-2,1,1,1-1
196,196,1983.01,4,1302,J9e,Takamisugi,1-3 (5-10),0,oshidashi,1347,...,4-0 (11-4),1,6091,57,1983,01,1-3,1,2,1-2
256,256,1983.01,5,1302,J9e,Takamisugi,2-3 (5-10),1,yorikiri,4140,...,2-3 (7-8),0,6091,57,1983,01,2-3,1,3,1-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5181,5181,1983.11,11,4325,J13e,Kiyomidake,5-6 (5-8-2),0,oshidashi,4137,...,5-6 (8-7),1,6131,65,1983,11,5-6,5,5,5-5
5237,5237,1983.11,12,4325,J13e,Kiyomidake,5-7 (5-8-2),0,yorikiri,1317,...,5-2,1,6131,65,1983,11,5-7,5,6,5-6
5309,5309,1983.11,13,4325,J13e,Kiyomidake,5-8 (5-8-2),0,fusen,4124,...,6-7 (8-7),1,6131,65,1983,11,5-8,5,7,5-7
5111,5111,1983.11,10,4327,Ms2e,Hiyama,3-3 (4-3),1,oshidashi,1451,...,0-10 (3-12),0,7021,69,1983,11,3-3,2,3,2-3
5365,5365,1983.11,14,6773,Ms5w,Taigiyama,2-5,0,shitatedashinage,1383,...,4-10 (4-11),1,7052,76,1983,11,2-5,2,4,2-4

In [9]:
def get_prior_tournament_record(df):
     """
     get prior tournament
     """
     yr = [1983]
     tournaments = df['trny'].unique()
     for year in yr:
          for tourney in tournaments:
               print(str(year) + " " + str(tourney))
     
     return df

df = get_prior_tournament_record(df)

dftrny = df[ df['trny'] == '01' ]

dftrny

1983 01
1983 03
1983 05
1983 07
1983 09
1983 11

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,...,rikishi2_result,rikishi2_win,r1_sort_rank,r1_ord_rank,year,trny,r1_prior_record,r1_prior_wins,r1_prior_losses,prior_record
10,10,1983.01,1,1302,J9e,Takamisugi,1-0 (5-10),1,oshidashi,4318,...,0-1 (7-8),0,6091,57,1983,01,1-0,0,0,0-0
80,80,1983.01,2,1302,J9e,Takamisugi,1-1 (5-10),0,yorikiri,1359,...,1-1 (10-5),1,6091,57,1983,01,1-1,1,0,1-0
148,148,1983.01,3,1302,J9e,Takamisugi,1-2 (5-10),0,yorikiri,1350,...,2-1 (11-4),1,6091,57,1983,01,1-2,1,1,1-1
196,196,1983.01,4,1302,J9e,Takamisugi,1-3 (5-10),0,oshidashi,1347,...,4-0 (11-4),1,6091,57,1983,01,1-3,1,2,1-2
256,256,1983.01,5,1302,J9e,Takamisugi,2-3 (5-10),1,yorikiri,4140,...,2-3 (7-8),0,6091,57,1983,01,2-3,1,3,1-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,623,1983.01,11,4323,J13e,Shiraiwa,3-8 (3-12),0,yorikiri,1317,...,3-3 (4-3),1,6131,65,1983,01,3-8,3,7,3-7
687,687,1983.01,12,4323,J13e,Shiraiwa,3-9 (3-12),0,sotogake,4111,...,3-9 (4-11),1,6131,65,1983,01,3-9,3,8,3-8
745,745,1983.01,13,4323,J13e,Shiraiwa,3-10 (3-12),0,yoritaoshi,4319,...,5-8 (5-10),1,6131,65,1983,01,3-10,3,9,3-9
827,827,1983.01,14,4323,J13e,Shiraiwa,3-11 (3-12),0,oshitaoshi,4091,...,6-8 (7-8),1,6131,65,1983,01,3-11,3,10,3-10
873,873,1983.01,15,4323,J13e,Shiraiwa,3-12,0,yorikiri,4322,...,6-9,1,6131,65,1983,01,3-12,3,11,3-11