Creating the an ordinal rank column for each sumo wrestler. 
get_ordinal_rank function in sumo.py takes a dataframe and two columns
1. 'rikishi1_sortable_rank' that is a numeric sortable string from 'rikishi1_rank'
2. 'ordinal_rank', an integer column by sorting 'rikishi1_sortable rank' and assigning a integer value
3. Will have to be applied by year

In [13]:
import pandas as pd
import numpy as np

from sumo import *

#Add the path to the folder that contains the data. Makes it easier for each of us to use the notebook
#path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/"
path = "data/"

df = pd.read_csv(path+str(1983)+'.csv')

In [14]:
x = df.sort_values(by = 'rikishi1_id').value_counts('rikishi1_id')

In [15]:
# returning a dataframe columns df['rikishi1_sortable_rank'] and df['ordinal_rank'] added
df = get_ordinal_rank(df)

In [16]:
df.sort_values(by='r1_ord_rank')
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,r1_sort_rank,r1_ord_rank
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1,6132,66
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0,7011,67
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0,6122,64
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1,6131,65
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1,6121,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,1983.11,15,4104,Y1e,Takanosato,13-2,0,yorikiri,1354,Y1w,Chiyonofuji,14-1,1,1011,1
5484,5484,1983.11,16,1348,J4w,Jingaku,(11-4),0,sotogake,1378,J1w,Hoo,(11-4),1,6042,48
5485,5485,1983.11,16,1378,J1w,Hoo,(11-4),1,sotogake,1348,J4w,Jingaku,(11-4),0,6012,42
5486,5486,1983.11,16,1287,J12w,Konishiki,(11-4),0,yorikiri,1378,J1w,Hoo,(11-4),1,6122,64
5487,5487,1983.11,16,1378,J1w,Hoo,(11-4),1,yorikiri,1287,J12w,Konishiki,(11-4),0,6012,42

In [17]:
basho = df[ (df['rikishi1_id'] == 1354) & (df['basho'] == 1983.01 )]
basho.head(15)

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,r1_sort_rank,r1_ord_rank
62,62,1983.01,1,1354,Y1e,Chiyonofuji,1-0 (12-3),1,yorikiri,4134,K1w,Oyutaka,0-1 (5-10),0,1011,1
124,124,1983.01,2,1354,Y1e,Chiyonofuji,2-0 (12-3),1,tsuridashi,4107,M4e,Kaiki,0-2 (5-10),0,1011,1
190,190,1983.01,3,1354,Y1e,Chiyonofuji,3-0 (12-3),1,uwatenage,1369,M3e,Toryu,2-1 (6-9),0,1011,1
250,250,1983.01,4,1354,Y1e,Chiyonofuji,4-0 (12-3),1,yorikiri,4126,M2w,Sadanoumi,1-3 (6-9),0,1011,1
314,314,1983.01,5,1354,Y1e,Chiyonofuji,5-0 (12-3),1,yorikiri,4099,M2e,Kirinji,2-3 (3-12),0,1011,1
374,374,1983.01,6,1354,Y1e,Chiyonofuji,6-0 (12-3),1,shitatenage,4116,K1e,Dewanohana,2-4 (7-8),0,1011,1
436,436,1983.01,7,1354,Y1e,Chiyonofuji,7-0 (12-3),1,shitatenage,4102,M4w,Aobajo,2-5 (6-9),0,1011,1
494,494,1983.01,8,1354,Y1e,Chiyonofuji,8-0 (12-3),1,yoritaoshi,1374,M1w,Kurama,3-5 (5-10),0,1011,1
558,558,1983.01,9,1354,Y1e,Chiyonofuji,9-0 (12-3),1,yoritaoshi,4078,M1e,Oshio,2-7 (5-10),0,1011,1
619,619,1983.01,10,1354,Y1e,Chiyonofuji,10-0 (12-3),1,yorikiri,1338,M7e,Ozutsu,6-4 (9-6),0,1011,1
680,680,1983.01,11,1354,Y1e,Chiyonofuji,10-1 (12-3),0,oshidashi,1379,S1w,Asashio,10-1 (14-1),1,1011,1
740,740,1983.01,12,1354,Y1e,Chiyonofuji,10-2 (12-3),0,uwatenage,1363,S1e,Hokutenyu,9-3 (11-4),1,1011,1
800,800,1983.01,13,1354,Y1e,Chiyonofuji,11-2 (12-3),1,yoritaoshi,4127,O2wHD,Wakashimazu,9-4 (10-5),0,1011,1
860,860,1983.01,14,1354,Y1e,Chiyonofuji,11-3 (12-3),0,yorikiri,4112,O1w,Kotokaze,13-1 (14-1),1,1011,1
920,920,1983.01,15,1354,Y1e,Chiyonofuji,12-3,1,yorikiri,4104,O1e,Takanosato,11-4,0,1011,1

In [18]:
bash = df['basho'].unique()
print(bash)

[1983.01 1983.03 1983.05 1983.07 1983.09 1983.11]

In [22]:
#For a year and tournament [ '01', '03', '05' '07', '11]
df['year'] = df['basho'].astype(str).str.split('.').str[0].astype(int)
df['tourn'] = df['basho'].astype(str).str.split('.').str[1]
df['record'] = df['rikishi1_result'].astype(str).str.split('(').str[0]
df['day'] = df['day'].astype(int)

cols = ['rikishi1_id','year', 'tourn', 'day', 'rikishi1_win', 'r1_ord_rank', 'record']
df.sort_values(by=['r1_ord_rank', 'rikishi1_id', 'tourn', 'day'],  ascending = [True, True, True, True])
df['wins'] = df['record'].astype(str).str.split('-').str[0]
df['loses'] = df['record'].astype(str).str.split('-').str[1]

print(x=df['wins'].astype(int))
#df['loses'] = df['record'].astype(str).str.split('-').str[1].astype(int)
#uid = df['rikishi1_id'].unique()
#print(uid)

ValueError: invalid literal for int() with base 10: ''