Creating the an ordinal rank column for each sumo wrestler. 
get_ordinal_rank function in sumo.py takes a dataframe and two columns
1. 'rikishi1_sortable_rank' that is a numeric sortable string from 'rikishi1_rank'
2. 'ordinal_rank', an integer column by sorting 'rikishi1_sortable rank' and assigning a integer value
3. Will have to be applied by year

In [1]:
import pandas as pd
import numpy as np

from sumo import *

#Add the path to the folder that contains the data. Makes it easier for each of us to use the notebook
#path = "/Users/Kyla/Desktop/ErdosDataScienceWork/Project/"
path = "data/"

df = pd.read_csv(path+str(1983)+'.csv')

In [2]:
df

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
0,0,1983.01,1,4140,J13w,Chikubayama,0-1 (7-8),0,yorikiri,4306,Ms1e,Ofuji,1-0 (6-1),1
1,1,1983.01,1,4306,Ms1e,Ofuji,1-0 (6-1),1,yorikiri,4140,J13w,Chikubayama,0-1 (7-8),0
2,2,1983.01,1,1337,J12w,Tochitsukasa,1-0 (9-6),1,oshidashi,4323,J13e,Shiraiwa,0-1 (3-12),0
3,3,1983.01,1,4323,J13e,Shiraiwa,0-1 (3-12),0,oshidashi,1337,J12w,Tochitsukasa,1-0 (9-6),1
4,4,1983.01,1,4097,J12e,Tamakiyama,0-1 (8-7),0,yorikiri,4319,J11w,Harunafuji,1-0 (5-10),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,1983.11,15,4104,Y1e,Takanosato,13-2,0,yorikiri,1354,Y1w,Chiyonofuji,14-1,1
5484,5484,1983.11,16,1348,J4w,Jingaku,(11-4),0,sotogake,1378,J1w,Hoo,(11-4),1
5485,5485,1983.11,16,1378,J1w,Hoo,(11-4),1,sotogake,1348,J4w,Jingaku,(11-4),0
5486,5486,1983.11,16,1287,J12w,Konishiki,(11-4),0,yorikiri,1378,J1w,Hoo,(11-4),1
5487,5487,1983.11,16,1378,J1w,Hoo,(11-4),1,yorikiri,1287,J12w,Konishiki,(11-4),0

In [3]:
# returnig a dataframe with df['rikishi1_sortable_rank'] and df['ordinal_rank']
df = get_ordinal_rank(df)

In [4]:
df.sort_values(by='ordinal_rank')

,index,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win,rikishi1_sortable_rank,ordinal_rank
4004,4004,1983.09,6,1354,Y1e,Chiyonofuji,6-0 (14-1),1,yoritaoshi,1380,M2w,Hidanohana,2-4 (5-10),0,1011,1
5041,5041,1983.11,8,4104,Y1e,Takanosato,7-1 (13-2),1,yorikiri,1338,S1e,Ozutsu,3-5 (4-11),0,1011,1
619,619,1983.01,10,1354,Y1e,Chiyonofuji,10-0 (12-3),1,yorikiri,1338,M7e,Ozutsu,6-4 (9-6),0,1011,1
3758,3758,1983.09,2,1354,Y1e,Chiyonofuji,2-0 (14-1),1,uwatenage,1369,M1e,Toryu,0-2 (5-10),0,1011,1
1690,1690,1983.03,13,1354,Y1e,Chiyonofuji,13-0 (15-0),1,hikiotoshi,1379,S1e,Asashio,11-2 (12-3),0,1011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,2457,1983.05,12,1381,Ms7w,Dewanoshima,3-4,0,yorikiri,1317,J12w,Hananokuni,4-8 (4-11),1,7072,80
2579,2579,1983.05,14,6780,Ms8e,Tochiomi,2-5,0,kirikaeshi,4097,J13w,Tamakiyama,5-9 (5-10),1,7081,81
4488,4488,1983.09,15,1362,Ms8e,Onohana,6-1,0,kakenage,4137,J13w,Hattori,9-6,1,7081,81
2637,2637,1983.05,15,4329,Ms10w,Fujinosato,4-3,1,yorikiri,4324,J11w,Rinho,5-10,0,7102,82
5368,5368,1983.11,14,1292,Ms14e,Kotogaume,6-1,0,hatakikomi,1417,J9e,Ichinowatari,5-9 (5-10),1,7141,83